    body table tr td {
      color:white;
    }
    
    .popup {
      min-width:260px;
      /*height:100px;*/
      max-height:400px;
      top:35%;
      left:50%;
      margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
      display:none;
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      -moz-border-radius-bottomleft:7px;
      -moz-border-radius-bottomright:7px;
      -moz-border-radius-topleft:7px;
      -moz-border-radius-topright:7px;
      -moz-box-shadow:1px 1px 6px 0 #000000;
      background:rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
      border:1px solid rgba(255, 255, 255, 0.592);
      padding:8px 8px 0;
      position:absolute;
      z-index:1000;
    }
    
    .bgpopup {
      position:absolute; 
      top:0;
      left:0;
      margin:0;
      width:100%;
      height:100%;
      z-index:200;
      background-color:black;
      opacity:0.5;
      display:none;
    }
    
    .loadingpopup {
      display:none;
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      -x-system-font:none;
      background:white none repeat scroll 0 0;
      color:#444444;
      font-family:tahoma,arial,helvetica;
      font-size:13px;
      font-size-adjust:none;
      font-stretch:normal;
      font-style:normal;
      font-variant:normal;
      font-weight:bold;
      line-height:normal;
      height:auto;
      position:absolute;
      top:35%;
      left:50%;
      margin:0;
      z-index:1001;
      padding: 5px;
    }
    
    .loadingpopup .popupcontent {
      float:right;
      padding-top: 10px;
    }

    .boxHeader{
      -moz-box-shadow:0 0 1px 1px rgba(255, 255, 255, 0.6) inset;
      border-left:1px solid black;
      border-right:1px solid black;
      border-top:1px solid black;
      color:white;
      cursor:move;
      font-size:0.86em;
      padding:6px;
      text-align:left;
      text-shadow:0 0 2px black;
    }

    .dialogBody{
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      background:#D4D6DB none repeat scroll 0 0;
      border:1px solid black;
      overflow:auto;
      max-height:300px;
    }

    .dialogButton{
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      -moz-border-radius-bottomleft:5px;
      -moz-border-radius-bottomright:5px;
      -moz-border-radius-topleft:5px;
      -moz-border-radius-topright:5px;
      -moz-box-shadow:0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
      background:#000000 none repeat scroll 0 0;
      border:1px solid #333333;
      color:#FFFFFF;
      cursor:pointer;
      font-size:0.75em;
      padding:5px 14px;
      text-shadow:0 0 2px #000000;
      white-space:nowrap;
    }

    .dialogButton:hover {
      -moz-box-shadow:0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px #73FF02 inset;
    }

    .selectedPath{
      background-color:#B8B8B8; !important
    }